body{
    background: linear-gradient(0deg,rgba(10, 10, 10, 1) 14%, rgba(60, 71, 63, 0.92) 100%);
}

.central-background {
    background-image: url('./assets/imgs/ab67616d0000b2739cdf38332f1a6ea8c15c925a.jpeg'); /* Percorso corretto */
    background-size: cover;
    background-position: center;
    height: 400px; 
    display: flex;
    align-items: flex-end;
    padding: 20px; 
}

.central-background .text-content {
    text-align: left; 
    padding: 20px;
    
}


.btn-success {
    background-color: #1db954;
    border: none;
}

.btn-outline-light {
    color: #fff;
    border-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}

.btn-outline-light:hover {
    background-color: #fff;
    color: #000;
}

.dropdown-menu {
    background-color: #1c1c1c;
    border: none;
}

.dropdown-menu .dropdown-item {
    color: #fff;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #333;
    color: #1db954;
}

/* Navbar trasparente sopra il background */
.top-bar {
    background-color: transparent; 
    z-index: 10; 
    top: 0;
    left: 0;
}

.btn-dark {
    background-color: rgba(0, 0, 0, 0.5); 
    border: none;
}

.btn-dark:hover {
    background-color: rgba(0, 0, 0, 0.7); 
}

/* Colonna destra: Attività amici */
.col-md-3 {
    overflow-y: auto; /* Aggiunge lo scroll se il contenuto supera l'altezza */
}

.col-md-3 h5 {
    font-size: 1.2rem;
    color: #fff;
}

.col-md-3 ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.col-md-3 li {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    /* Rimuovi il bordo inferiore */
    /* border-bottom: 1px solid #333; */
}

.col-md-3 li:last-child {
    border-bottom: none;
}

.col-md-3 img {
    object-fit: cover;
}

.col-md-3 p {
    margin: 0;
    font-size: 0.9rem;
}

.col-md-3 small {
    font-size: 0.8rem;
    color: #aaa;
}

  
  img {
    width: 4.5rem;
  }
  
  #play-btn {
    background: #1ed760;
  }
  
  