body {
  background-color: black;
  height: 100vh;
  margin: 0; /* Rimuove eventuali margini esterni */
  overflow-x: hidden;
}

#hero {
  box-sizing: border-box;
  max-width: 90%;
  margin: auto;
}

#player {
  position: sticky;
  bottom: 0;
  z-index: 1000;
}

#middle-column {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(51, 51, 51, 0.7));
}

#copertina {
  width: 10rem;
  height: 10rem;
}

img {
  width: 4.5rem;
}

#play-btn {
  background: #1ed760;
}

#altro-che-ti-piace img {
  width: 10rem;
  border-radius: 10px;
}

i:hover {
  cursor: pointer;
}

#barra-avanzamento:hover {
  cursor: pointer;
}

#album {
  background: linear-gradient(45deg, rgba(0, 0, 0, 1) 30%, rgba(163, 163, 163, 0.29) 100%);
  padding: 15px;
  position: relative;
}

#nascondi-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  border: none;
  background: #2c2c2c;
  font-size: 10px;
}
